# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/
.coverage.*

# Packaging
*.egg-info/
build/
dist/

# Virtual environments
venv/
.venv/
env/
testenv/
package_test/
test_install/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db